<div class="main-contenedor">
  <!-- Header  -->
  <div class="cabecera">
    <div class="col content-menu tar-buttons">
      <div class="text-titulo">
        CRUD-POKEMON
      </div>
     <!-- <div class="logo-container">
        <div class="pt-1 menu">
          <img src="assets/Pokemon.png" width="200px" height="60px" alt="">
        </div>
      </div>
    </div> -->
  </div>

  <!-- Tabla -->
  <div class="row justify-center">
    <div class="table-container">
      <app-list-pokemon (pokemonEmiter)="pkmEmiter($event)" (isEdit)="showFormEdit($event)"
        (isNewPokemon)='showForm($event)' ></app-list-pokemon>
    </div>
  </div>

  <!-- Componente CrearEditar -->
  <div class="row justify-center" *ngIf="!isNewForm">
    <app-form-pokemon (cancelarForm)="showFormNew($event)"></app-form-pokemon>
  </div>

  <!-- Seccion: Editar -->
  <div *ngIf="!isEditing" class="row justify-center ">
    <div class="section">
      <div class="crear-editar justify-center">
        <p> Editar Pokemon </p>
      </div>
      <div class="row-crear">
        <div class="input-field">
          <div class="input-block">
            <label>Nombre:</label>
          </div>
          <div class="input-block pl">
            <input id="name" type="text" [(ngModel)]="pokemonObj.name">
          </div>
        </div>
        <div class="input-field">
          <div class="input-block slide-p">
            <label>Ataque:</label>
            <p> {{ pokemonObj?.attack }}</p>
          </div>
          <div class="input-block pl">
            <input id="attack" [(ngModel)]="pokemonObj.attack" (input)="pokemonObj.attack.value" class="slider"
              type="range" min="1" max="100" value="0">
          </div>
        </div>

      </div>

      <div class="row-crear">
        <div class="input-field">
          <div class="input-block">
            <label>Imagen: </label>
          </div>
          <div class="input-block pl">
            <input type="text">
          </div>
        </div>
        <div class="input-field">
          <div class="input-block slide-p">
            <label>Defensa: </label>
            <p> {{ pokemonObj?.defense }}</p>
          </div>
          <div class="input-block pl">
            <input id="defense" [(ngModel)]="pokemonObj.defense" (input)="pokemonObj.defense.value" class="slider"
              type="range" min="1" max="100" value="1">
          </div>
        </div>
      </div>
      <div class="botones w-100">
        <div class="button-box">
          <button class="btn success-button" (click)="sendPutPokemon()">
            <span>
              <img src="/assets/save.png" height="11px" width="11px" alt="">
            </span>
            Editar
          </button>
        </div>
        <div class="button-box">
          <button class="btn cancel-button"  (click)="cancelar()">
            <span>
              <img src="/assets/close.png" height="11px" width="11px" alt="">
            </span>
            Cancelar
          </button>
        </div>

      </div>
    </div>

  </div>

</div>
